# APP
APP_NAME=fastapi-imageSearch
APP_ENV=local
APP_DEBUG=True
APP_URL=http://localhost:9100

# CORS
ALLOWED_ORIGINS="http://localhost:9097"

# NOTEBOOK
JUPYTER_TOKEN=

# MySQL
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=fastapi
DB_USERNAME=root
DB_PASSWORD=root

# MongoDB
MONGO_DB_CONNECTION=mongodb
MONGO_DB_HOST=127.0.0.1
MONGO_DB_PORT=27017
MONGO_DB_DATABASE=fastapi
MONGO_DB_USERNAME=admin
MONGO_DB_PASSWORD=admin
MONGO_DB_AUTH_DATABASE=admin

# CELERY
CELERY_BROKER_URL="redis://fastapi_imageSearch-redis:6379/0"
CELERY_RESULT_BACKEND="redis://fastapi_imageSearch-redis:6379/1"

# QDARNT
QDRANT_HOST=http://qdrant:6333

# PATH
STORAGE_PATH=/app/storage
LOG_PATH=/app/storage/logs
UPLOAD_PATH=/app/storage/uploads
IMAGE_PATH=/app/storage/images

# LANGSMITH
LANGCHAIN_TRACING_V2=
LANGCHAIN_ENDPOINT=
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=

# GROQ
GROQ_API_KEY=

# SERP
SERP_API_KEY=

# GOOGLE
GOOGLE_API_KEY=
GOOGLE_CUSTOM_SEARCH_CX=