__pycache__/
.env
.env.backup
.venv
yolov8n-oiv7.pt
/.docker/mysql/data
/.docker/mongo/data
/.docker/qdrant/data
/notebooks/.ipynb_checkpoints
/notebooks/yolov8n-oiv7.pt
/storage/logs
/storage/uploads
/.vscode